#pragma code_page(65001)
#include <windows.h>
#include "OmsiLaunch.Identity.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION OMSILAUNCH_FILE_VERSION_COMMAS
 PRODUCTVERSION OMSILAUNCH_FILE_VERSION_COMMAS
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0x0L
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "Comments", OMSILAUNCH_PRODUCT_COMMENTS
      VALUE "CompanyName", OMSILAUNCH_COMPANY_NAME
      VALUE "FileDescription", "OmsiLaunch Native x86 Bridge"
      VALUE "FileVersion", OMSILAUNCH_FILE_VERSION
      VALUE "InternalName", "OmsiLaunch.Native.x86"
      VALUE "LegalCopyright", OMSILAUNCH_LEGAL_COPYRIGHT
      VALUE "OriginalFilename", "OmsiLaunch.Native.x86.dll"
      VALUE "ProductName", OMSILAUNCH_PRODUCT_NAME
      VALUE "ProductVersion", OMSILAUNCH_PRODUCT_VERSION
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
